language: python
python:
  - 2.6
  - 2.7
  - pypy
  - 3.3
  - 3.4
  - 3.5

sudo: false

addons:
  apt:
    packages:
    - nodejs

# command to install dependencies
install:
  - travis_retry pip install coverage 'nose2[coverage-plugin]' coveralls
  - python setup.py develop

# command to run tests
script:
  - if [[ $TRAVIS_PYTHON_VERSION != 3* ]]; then nose2 -c unittest-python2.cfg; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then nose2 -c unittest-python3.cfg; fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.5 ]]; then coveralls --rcfile=coveragerc-python3; fi
